# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# Large notebooks with outputs
*.ipynb

# Project Specific
runs/
detection_debug_logs.txt
test.py
yolo11n.py

# React Native / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
dist/
.bundle/
vendor/bundle/
android/app/build/
ios/build/
.vscode/

# OS files
.DS_Store
Thumbs.db
